.aboutMeContainer {
  width: 100%;
  min-height: 100vh;
  margin-top: 5vh;
  background-image: linear-gradient(rgba(93, 46, 140, 0.588), rgb(55, 32, 79)),
    url(/assets/about/fondo_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infoRowContainer {
  display: flex;
  justify-content: center;
  gap: 90px; /* Espacio entre los dos divs */
  margin-top: 40px;
  margin-bottom: 20px;
}

.aboutMeContainer h3 {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 2rem;
}

.aboutMeContainer p {
  width: 575px;
  height: auto;
}

button {
  width: 140px;
  height: 50px;
  background-color: var(--color-primary);
  border-radius: var(--border-button);
  border: solid 2px var(--color-darkgray);
  color: var(--color-darkgray);
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 850px) {

  .aboutMeContainer h3 {
    font-size: 17px;
    overflow: visible;
    white-space: normal;
  }

  .aboutMeContainer p {
    width: 60%;
  }

  .infoRowContainer {
    gap: 1rem;
    padding: 0 1rem; /* Espacio entre los dos divs */
    margin: 0;
  }
}

@media screen and (max-width: 500px) {

  .aboutMeContainer h3 {
    font-size: 17px;
    overflow: visible;
    white-space: normal;
  }

  .aboutMeContainer p {
    width: 90%;
  }

  .infoRowContainer {
    gap: 1rem;
    padding: 0 1rem; /* Espacio entre los dos divs */
    margin: 0;
  }
}

