.experience-educationContainer {
  display: flex; /* Flexbox para organizar las columnas */
  justify-content: space-between; /* Espacio entre las columnas */
  align-items: flex-start; /* Alineación vertical al inicio */
  background-color: var(--color-section);
  color: var(--color-text);
  height: min-content;
  gap: 1rem;
  padding: 2rem;
  position: relative; /* Posición relativa para que el dividor se posicione correctamente */
}

.experienceContainer,
.educationContainer {
  width: 48%; /* Ancho del 48% para cada columna */
  padding: 50px;
}

.divider {
  width: 5px;
  background-color: var(--color-text);
  height: 600px;
  position: absolute;
  top: 123px;
  bottom: 0;
  left: 50%; /* Coloca la línea exactamente en el centro horizontal */
  transform: translateX(-50%); /* Centra la línea respecto a sí misma */
}

.educationItems,
.experienceItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 24px;
  padding-left: 15%;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .experience-educationContainer {
    flex-direction: column;
    align-items: center; /* Centra los elementos en la columna */
  }

  .experienceContainer,
  .educationContainer {
    width: 90%; /* Ajusta el ancho para ocupar más espacio */
    padding: 10px; /* Reduce el padding para mejor ajuste */
  }

  .educationItems,
.experienceItems {
  padding: 1rem; /* Elimina el padding izquierdo para mejor ajuste */
}

  .divider {
    display: none; /* Oculta la línea divisoria en móviles */
  }
  
}