.exerciseFirstLayout-container{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-darkgray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inputText, .textProcessed{
    width: 664px;
    height: 284px;
    padding: 10px;
    background-color: var(--color-mediumgray);
    color: var(--color-text);
    border: solid 1px var(--color-lightgray);
    border-radius: var(--border-normal);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5px;
    font-size: 18px;
    font-weight: 200;
    resize: none;
    overflow: auto;
}

.textProcessed {
    border: none;
}


.button-dark {
    width: 140px;
    height: 50px;
    background-color: var(--color-mediumgray);
    border-radius: var(--border-button);
    color: var(--color-text);
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    display: block;
}


button:hover{
    border: solid 2px var(--color-primary);
}

button:active {
    color: var(--color-primary);
    transform: scale(0.98); /* Reducción ligera del tamaño */
}



