.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 98vw;
  height: 5vh; /* 5% de la pantalla */
  padding: 0 2rem;
  background-color: #36332d; /* Color de fondo */
  z-index: 1000;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end; /* Alinea los enlaces a la derecha */
  align-items: center;
  padding-right: 2rem;
  margin-left: auto; /* Empuja el contenedor hacia la derecha */
  gap: 2rem; /* Espacio entre los enlaces */
}

.navbarLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.3s ease;
}

.menuIcon {
  cursor: pointer;
}

.dropDownMenu {
  position: absolute;
  right: 0; /* Alinea el menú a la derecha */
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu ul li:hover {
  border: solid 2px var(--color-lightgray);
}

.navbarLinks a:hover,
.navbarLinks .activeLink {
  color: var(--color-primary); /* Cambia a tu color preferido */
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .headerContainer{
    padding: 0 1rem;
  }

  .navbarLogo img {
    width: 120px;
    height: auto;
    
  }

  .navbarLinks a {
    font-size: 12px;
  }
  .menuIcon{
    padding-right: 1rem;
  }
  
}