.contactFormContainer {
  background-color: var(--color-secondary);
  color: var(--color-text);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.fondGradiant {
  position: absolute;
}

.contactFormContainer p {
  width: 871px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.contactText {
  z-index: 3;
}

.contactContentContainer {
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 931px;
  height: 549px;
}

.contactForm {
  width: 876px;
  height: 549px;
  background-color: var(--color-darkgray);
  margin-left: 40px;
  border-radius: var(--border-normal);
}

.contactSocialIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: relative;
}

.socialIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 28px;
  margin-left: 10px;
}

.inputForm_name {
  width: 350px;
  height: 50px;
  background-color: var(--color-lightgray);
  margin-right: 24px;
  margin-bottom: 12px;
  margin-top: 30px;
  margin-left: 30px;
  border: none;
  border-radius: var(--border-normal);
  padding-left: 29px;
}

.inputForm_email {
  width: 384px;
  height: 50px;
  background-color: var(--color-lightgray);
  margin-bottom: 12px;
  margin-top: 12px;
  border: none;
  border-radius: var(--border-normal);
  padding-left: 29px;
}

.inputForm_asunto {
  width: 787px;
  height: 50px;
  background-color: var(--color-lightgray);
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 30px;
  border: none;
  border-radius: var(--border-normal);
  padding-left: 29px;
}

.inputForm_message {
  width: 787px;
  height: 253px;
  background-color: var(--color-lightgray);
  margin-right: 12px;
  margin-left: 30px;
  margin-top: 12px;
  border: none;
  resize: none;
  overflow: auto;
  border-radius: var(--border-normal);
  padding-left: 29px;
  padding-top: 19px;
}

.buttonFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactFormContainer {
  position: relative;
}

.socialIcons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
