.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 5vh; /* Ocupa el 5% de la pantalla */
  background-color: #36332d;
  color: white;
  padding: 0 2rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footerIcons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  gap: 1rem;
}
