.calculatorContainer {
    height: 95vh;
    background-color: var(--color-darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculatorResult {
    width: 880px;
    height: 120px;
    border: none;
    border-radius: var(--border-normal);
    text-align: center;
    background-color: var(--color-mediumgray);
    font-size: 30px;
    font-weight: 500;
    color: var(--color-lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    gap: 15px;
}

button:hover {
    background-color: var(--color-darkgray);
}