.abilityContainer {
  height: min-content;
  padding-bottom: 4rem;
  background: var(--color-section);
  color: var(--color-text);
  background-image: url(../../../assets/about/Star_ability.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.abilityContainer h2 {
  padding: 3rem 0;
  z-index: 1;
}

.cardsContainer {
  display: flex;
  justify-content: center; /* Centra las cards horizontalmente */
  align-items: flex-start; /* Alinea las cards en la parte superior */
  gap: 2rem; /* Espacio entre las cards */
  position: relative;
  z-index: 1;
}


@media screen and (max-width: 850px) {
  .abilityContainer {
    background-image: none; /* Elimina la imagen de fondo */
  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Espaciado entre cada card */
  }

  .cardsContainer > * { 
    width: 90%; /* Asegura que cada card ocupe su espacio */
    max-width: 350px;
    text-align: center; /* Evita que el texto se alinee mal */
  }
}